html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

body {
  background-color: rgba(0, 0, 0, 0.799);
  color: #fff;
  padding-top: 150px;
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  text-align: center;
}

.slider__top {
  position: relative;
}

.slider__img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider__prev {
  left: 10px;
}

.slider__next {
  right: 10px;
}

.slider__dots {
  margin-top: 10px;
}

.slider__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.slider__dot.active {
  background-color: #717171;
}
